In [115]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [114]:
# Import the data
lending_data = pd.read_csv(Path('Resources/lending_data.csv'))
lending_data.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [72]:
x_loan = lending_data.drop('loan_status', axis=1)
y_loan = lending_data['loan_status']

x_loan_train, x_loan_test, y_loan_train, y_loan_test = train_test_split(x_loan, y_loan, random_state=1000)
x_loan.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

In [83]:
# Split the data into X_train, X_test, y_train, y_test

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=15)
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [84]:
X_train.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
33182,10200.0,7.460,50800,0.409449,4,1,20800
36737,8700.0,6.803,44600,0.327354,3,0,14600
40609,10200.0,7.461,50800,0.409449,4,1,20800
35613,8300.0,6.655,43200,0.305556,2,0,13200
57634,11300.0,7.922,55100,0.455535,5,1,25100

In [85]:
y_train.head()

33182    True
36737    True
40609    True
35613    True
57634    True
Name: loan_status, dtype: bool

# Logistic Regression

In [110]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=1000)
classifier

LogisticRegression(max_iter=1000)

In [111]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [112]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9918489475856377
Testing Data Score: 0.9916941807676434

# Random Forest Classifier Model

#

In [109]:
clf = RandomForestClassifier(random_state=15, n_estimators=1000).fit(X_train_scaled, y_train)
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

Training Score: 0.9971626083367726
Testing Score: 0.9922616591002889

In [109]:
# Train a Logistic Regression model print the model score

0.9908171687990095

In [110]:
# Train a Random Forest Classifier model and print the model score

0.9910751134956666